<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
    <script src="/Script/chart.js"></script>
</head>
<body>
    <style>
        /* Set the width and height of the popup */
        body {
            width: 500px; /* Specify the width in pixels or percentage */
            height: 800px; /* Specify the height in pixels or percentage */
        }
    </style>
     <h1>Student List Sorted by Competency</h1>
     <div id="studentList"></div>
</body>
</html>
