<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="/Script/lightDark.js"></script>

    <link rel="stylesheet" href="/Views/css/lightdark.css">
    <link rel="stylesheet" href="/Views/css/FAQ.css">

    <title>Info Page</title>
</head>

<body>
    <div class="container mt-3">
        <div class="card card-info">
            <div class="Disclaimer">
            <h5>FAQ's</h5>
            <br>
                    <h5>Q: How do I know what buckets and competencies to select?</h5>
                    <p>As an educator, you should already have a certain number of competencies with their own name. All you need to do is sort them into a bucket with competencies that fall in the same category. The numerical designation of the buckets is inconsequential as long as the content within aligns accurately with the corresponding competencies.</p>
                    <br>
                    <h5>Q: Why are some grades missing from my graph?</h5>
                    <p>Our web scraping tool is designed to present data that is currently visible on the screen. Therefore, it is essential to ensure that all dropdown menus and collapsed columns are expanded before utilizing the tool to obtain accurate data.</p>
                    <br>
                    <h5>Q: Who has access to my students' grades?</h5>
                    <p>Only you. The application utilizes Chrome's local storage, ensuring that private information remains confined within your browser and inaccessible to external entities.</p><!-- Back Button -->
            <a href="Info.html" class="back-button">&#8592;Back to settings and info.</a>
        </div>
    </div>
</div>
    <!-- Include your JavaScript file -->
    <script src="/Script/RenderVersion.js"></script>
</body>

</html>