<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plotly.js Graph</title>

  <script type="module" src="/Script/plotly.js"></script>
  <script type="module" src="/Script/Graph.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/Script/lightDark.js"></script>
  <link rel="stylesheet" href="/Views/css/lightdark.css">
  <link rel="stylesheet" href="/Views/css/Graph.css">
 
</head>


<body>
  <!-- Container for the graph -->
  <div class="card card-container">
    <div class="card-body">
      <div id="bucket-chart-container"></div>
      
    </div>
  </div>

  <div class="card card-container">
    <div class="card-body">
      <div id="chart-container"></div>
    </div>
  </div>

  <!-- Link to studentList.html -->
  <div class="card card-container">
    <div class="card-body">
  <a href="studentList.html" class="btn btn-primary btn-block">Go to back Student List</a>
</div>
  </div>
  <br>
</body>

</html>