<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="/Script/lightDark.js"></script>

    <link rel="stylesheet" href="/Views/css/lightdark.css">
    <link rel="stylesheet" href="/Views/css/Info.css">

    
    <title>Info Page</title>
</head>

<body>
    <div class="container mt-3">
        <div class="card card-info">
            <!-- Dummy Info -->
            <h5 class="text-center">Important Info and Help</h5>
            <div class="Disclaimer">

                <br>
                <p class="text-center">This tool was designed to be an aid for teachers who need a more efficient way to
                    organize their students' grades and progress. Attached here are some important links to get you
                    started.
                </p>
            </div>
            <!-- YouTube Button -->
            <a href="https://www.youtube.com/watch?v=_t1-euAHRn8&ab_channel=JonahBillerbeck" class="youtube-button"
                target="_blank">YouTube Demo</a>
            <!-- GitHub Button -->
            <a href="https://github.com/Joenuhhh/ChromeExtension" class="github-button" target="_blank">GitHub
                Documentation</a>
           
            <!-- Toggle switch for light/dark mode -->
            <div class="text-center" style="margin-top: 20px;">
                <label class="toggle-switch" style="vertical-align: middle; display: inline-block;">
                    <input type="checkbox" id="toggle-mode">
                    <span class="toggle-slider"></span>
                </label>
                <label for="toggle-mode" style="vertical-align: middle; display: inline-block; margin-left: 5px;">Dark Mode</label>
            </div>
            <br>
            <div class="Disclaimer">
                <h2>Disclaimer:</h2>
                <p>This tool is designed for educational purposes only. All information presented within this
                    application is intended solely for use by authorized teachers and administrators. Access to student
                    information is restricted to individuals with valid credentials to log in.</p>
                <p>Please note that all information accessed through this tool is stored locally within the user's
                    browser and is not transmitted or made public at any time. We take privacy and data security
                    seriously, and measures have been implemented to ensure the confidentiality and protection of
                    student data.</p>
                <p>Unauthorized access to student information or misuse of this application is strictly prohibited and
                    will be reported without exception.</p>
                <p>By using this application, you agree to abide by the terms and conditions outlined in our privacy
                    policy and to use the information obtained responsibly and in accordance with applicable laws and
                    regulations.</p>
                    <h5>Help make the application better!</h5>
                    <p>If you have any issues to report, bugs or features you would find useful to include in the application, send an email to <a href="mailto:Jonnahha@email.com">Jonnahha@email.com</a>.</p>
                    <br>
                    
                </div>
            <p class="Disclaimer">Current Version: <span id="version"></span></p>
            <a href="FAQ.html" class="back-button" style="display: block; margin: 10px auto;">Frequently asked questions.</a>
            <a href="Privacy.html" class="back-button" style="display: block; margin: 10px auto;">Privacy Policy</a>
            <!-- Back Button -->
            <a href="popup.html" class="back-button">&#8592;Back to main page.</a>
        </div>
    </div>

    <!-- Include your JavaScript file -->
    <script src="/Script/RenderVersion.js"></script>
</body>

</html>