<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="/Script/lightDark.js"></script>
    <script src="/Script/popup.js"></script>
    <link rel="stylesheet" href="/Views/css/lightdark.css">
    <link rel="stylesheet" href="/Views/css/popup.css">

    <title>Settings Input</title>
</head>

<body>
    <div class="container mt-3">
        <div class="card card-form">
            <!-- Info Button -->
            <a href="info.html" class="info-button">
                <img src="/Images/settingsButtonDark.png" alt="Info" id="infoGif">
            </a>
            
            <h4 class="form-title">Easy Grader </h4>
            <form id="settingsForm" action="TeacherSettings.html" method="GET">
                <!-- Number of Competencies -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="competencies">Number of Competencies (Max 15):</label>
                    <input type="number" id="competencies" name="competencies" class="form-control" min="1" max="15"
                        required>
                </div>

                <!-- Number of Buckets -->
                <div class="form-group">
                    <label for="buckets">Number of Buckets (Max 7):</label>
                    <input type="number" id="buckets" name="buckets" class="form-control" min="1" max="7" required>
                </div>

                <!-- Submit Button -->
                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>