<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/Script/lightDark.js"></script>
    <link rel="stylesheet" href="/Views/css/singleStudent.css">
    <script src="/Script/singleStudent.js"></script>
    <script type="module" src="/Script/plotly.js"></script>
  <script type="module" src="/Script/singleStudentGraph.js"></script>
    
    <title>Student Details</title>
</head>
<body>
    <div class="card card-container">
        <div class="card-body">
            <div id="studentInfo"></div>
        
        <a href="studentList.html" class="back-button">&#8592; Back to Info Page</a>
    </div>
    </div>
    <div class="card card-container">
        <div class="card-body">
            <div id="bucket-chart-container" style="width:100%;max-width:600px;height:400px;"></div>
    </div>
    </div>
    <div class="card card-container">
        <div class="card-body">
            <div id="competency-chart-container" style="width:100%;max-width:600px;height:400px;"></div>
    </div>
    </div>


    

    


</body>

</html>