<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="/Script/singleStudent.js"></script>
    <title>Student Details</title>
</head>
<style>
    /* Set the width and height of the popup */
    body {
        width: flex;
        min-width: 400px;
        /* Specify the width in pixels or percentage */
        height: flex;
        /* Specify the height in pixels or percentage */
        background-color: #6b9dd2;
    }

    /* Custom styling for the cards */
    .card-container {
        width: fit-content;
        min-width: 500px;
        margin: 20px;
    }
</style>

<body>
    <div class="card card-container">
        <div class="card-body">
            <div id="studentInfo"></div>
        
        <a href="studentList.html" class="back-button">&#8592; Back to Info Page</a>
    </div>
    </div>

    


</body>

</html>