<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
    <script src="/Script/studentList.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
</head>
<body>
    <style>
        /* Set the width and height of the popup */
        body {
            width: 500px; /* Specify the width in pixels or percentage */
            height: 800px; /* Specify the height in pixels or percentage */
        }
    </style>
    <h1>Student List Sorted by Competency</h1>
    <button class="btn btn-primary" id="export-csv-btn">Export to CSV</button>
    <div id="studentList"></div>
    <div id="navigation-container">
        <!-- Use a form to navigate to Graph.html -->
        <form action="/Views/Graph.html" method="POST">
            <input type="submit" value="View Graph" />
        </form>
    </div>
</body>
</html>
