<!-- TeacherSettings.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/Script/teacher-settings.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        /* Set the width and height of the popup */
        body {
            width: 500px; /* Specify the width in pixels or percentage */
            height: 800px; /* Specify the height in pixels or percentage */
        }
    </style>
    <title>Chrome Extension Options</title>
</head>

<body>
  <div class="container mt-3">
      <h2>Teacher Settings</h2>
      <!-- Display the table here -->
      <div id="tableContainer">
          <!-- The table will be generated here -->
      </div>
  </div>
  <!-- Include your external JavaScript file -->
</body>

</html>
