<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/Script/teacher-settings.js"></script>
    <script src="/Script/lightDark.js"></script>
    <link rel="stylesheet" href="/Views/css/lightdark.css">
    <link rel="stylesheet" href="/Views/css/TeacherSettings.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <title>Chrome Extension Options</title>
</head>

<body>
    <div class="container mt-3">
        <!-- Teacher Settings Card -->
        <div class="card card-container">
            <div class="card-body">
                
                <h4 class="section-title">Select What buckets have which competencies:</h4>
                <!-- Display the table here -->
                <div id="tableContainer">
                    <!-- The table will be generated here -->
                </div>
                <form id="settingsForm" action="/Views/studentList.html" method="POST">
                    <!-- Button to show competencies in buckets and log them -->
                    <button id="showCompetenciesButton" class="btn btn-primary">Show Competencies</button>
                </form>
            </div>
        </div>

        <!-- Form Card to Submit Competencies and Buckets -->





    </div>

</body>

</html>