<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="/Script/lightDark.js"></script>

    <link rel="stylesheet" href="/Views/css/lightdark.css">
    <link rel="stylesheet" href="/Views/css/FAQ.css">

    <title>Tool Tips page</title>
</head>

<body>
    <div class="container mt-3">
        <div class="card card-info">
            <div class="Disclaimer">
          
<h5>Tool Tips:</h5>
<br>
<h5>Extension Button Functionality:</h5>
<p>When you click the extension button, the application executes a script that scans the page's HTML. It's crucial to note that excessive clicking may result in temporary blockage from the StudentVUE site. To prevent this, refrain from rapidly clicking the button multiple times.</p>
<br>
<h5>Dark Mode Functionality:</h5>
<p>Extended use of light mode can cause discomfort due to excessive exposure to blue light. To alleviate this issue, we've implemented a custom dark mode theme, providing a more comfortable viewing experience.</p>
<br>
<h5>Export Button Functionality:</h5>
<p>The export button compiles all gathered student data on your student list page and exports it to Excel. This feature enables teachers to effortlessly create Excel spreadsheets containing comprehensive student information and grades.</p>
<br>
<h5>Graph Button Functionality:</h5>
<p>The graph button transforms scraped data into visual representations. Users can generate graphs for individual students or the entire class to analyze trends. Please note that the graphing functionality is limited to the data visible on the page. For comprehensive trend analysis over time, exporting the data to Excel is recommended.</p>
<br>
<h5>GitHub Documentation:</h5>
<p>GitHub documentation provides an in-depth explanation of the application's technical aspects and functionalities. This resource is primarily intended for developers interested in modifying the application to suit their specific requirements.</p>
            
                    <a href="Info.html" class="back-button">&#8592;Back to settings and info.</a>
        </div>
    </div>
</div>
    <!-- Include your JavaScript file -->
    <script src="/Script/RenderVersion.js"></script>
</body>

</html>